<div class="h-fit w-fit py-6 px-9 mx-auto mt-4 border-3 border-gray-100 rounded-3xl shadow-lg">
    <div class="flex flex-row justify-evenly gap-8">
        <a class="group text-2xl" routerLink="/tasks">
            Tasks
            <div class="w-full scale-x-0 group-hover:scale-x-100 border-b-6 border-[#23C686] rounded-lg transition-transform duration-400 ease-out"></div>
        </a>
        <a class="group text-2xl" routerLink="/task_history">
            History
            <div class="w-full scale-x-0 group-hover:scale-x-100 border-b-6 border-[#23C686] rounded-lg transition-transform duration-400 ease-out"></div>
        </a>
        <a class="group text-2xl" routerLink="/profile">
            Profile
            <div class="w-full scale-x-0 group-hover:scale-x-100 border-b-6 border-[#23C686] rounded-lg transition-transform duration-400 ease-out"></div>
        </a>
    </div>
</div>
