<div class="h-full w-full">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 min-w-96 w-1/6 h-fit border-2 border-gray-100 rounded-xl shadow-xl">
        <div class="flex flex-col w-full h-24 bg-[#23C686] rounded-t-xl">
            <h1 class="flex-none m-auto text-white text-5xl">Task Journal</h1>
        </div>
        <form class="flex flex-col p-4" [formGroup]="loginForm" (ngSubmit)="login()">
            <label class="mx-3 py-2 pb-1" for="username_input">Username</label>
            <input class="inline p-2 m-3 grow border-2 border-gray-100" id="username_input" formControlName="username" placeholder="Enter your username"/>
            <label class="mx-3 py-2 pb-1" for="password_input">Password</label>
            <input class="inline p-2 m-3 grow border-2 border-gray-100" id="password_input" formControlName="password" placeholder="Enter your password"/>
            <button class="m-3 mx-3 p-2 rounded-sm bg-[#23C686] hover:bg-[#1CA670] text-white text-lg" type="submit">SUBMIT</button>
        </form>
    </div>
</div>