/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

button:hover {
    @apply cursor-pointer;
}

input:focus {
    @apply border-[#23C686];
    outline: none;
}

ng-select .ng-placeholder {
    @apply text-gray-400;
}

.ng-dropdown-panel {
    @apply whitespace-normal;
    @apply h-fit;
    @apply bg-white;
    @apply p-2;
    @apply rounded-xl
}

.ng-select-container.ng-has-value .ng-placeholder {
    @apply hidden;
}

.ng-value {
    @apply flex;
    @apply flex-row;
    @apply gap-2;
    @apply p-1;
    @apply px-2;
    @apply bg-[#2DEDA4];
    @apply rounded-xl;
    @apply m-1;
}
  