@import "tailwindcss";
@import 'ngx-toastr/toastr';

@theme {
    --color-primary: #23C686;
    --color-primary-light: #2DEDA4;
    --color-primary-dark: #1CA670;
    --color-secondary: #FC9D45;
    --color-secondary-dark: #F28B2C;
    --color-dark: #1D3853;
    --color-dark-light: #7A9295;
    --color-gray-light-100: #FAFAFA;
    --color-gray-light-200: #F5F5F5;
    --color-danger: #F32013;
    --color-star-yellow: #FFEA00;
}

body {
    font-family: 'Inter', sans-serif;
}

button:hover {
    @apply cursor-pointer;
}

input:focus, textarea:focus {
    @apply border-primary;
    outline: none;
}

ng-select .ng-placeholder {
    @apply text-gray-400;
}

.ng-dropdown-panel {
    @apply whitespace-normal;
    @apply h-fit;
    @apply bg-white;
    @apply p-2;
    @apply rounded-xl
}

.ng-select-container.ng-has-value .ng-placeholder {
    @apply hidden;
}

app-select .ng-value {
    @apply flex;
    @apply flex-row;
    @apply gap-2;
    @apply p-1;
    @apply px-2;
    @apply bg-gray-400;
    @apply rounded-xl;
    @apply m-1;
}
  