<div 
    class="flex flex-row grow h-fit mx-4 py-2 rounded-3xl bg-gray-light-100 hover:bg-gray-light-200 cursor-pointer"
    [routerLink]="'/task_history/' + this.taskHistory.id"
>
    <app-icon
        [iconName]="taskHistory.taskIcon"
        class="mx-4"
    ></app-icon>
    <div class="max-w-72 ml-8 mr-2 self-center overflow-hidden text-ellipsis text-base">{{taskHistory.taskName}}</div>
    <div class="h-8 w-fit mx-2 border-x-2 border-gray-300 self-center rounded-xl"></div>
    <div 
        class="grow mx-2 self-center overflow-hidden text-ellipsis text-base"
        title="Execution comment"
    >
    {{taskHistory.execComment}}
    </div>
    <app-star-rating
        class="ml-auto mr-8 self-center"
        [rating]="taskHistory.execRating"
    ></app-star-rating>
</div>