<div class="h-[70%] w-[40%] min-w-[56rem] mx-auto my-14 p-4 bg-white rounded-3xl shadow-lg">
    <div class="flex flex-col w-full h-full gap-4 mt-2">
        <div class="flex flex-row">
            <div 
                class="p-2 h-fit w-fit ml-4 mr-2 border-2 border-gray-100 rounded-xl" 
                title="Search by name"
            >
                <i class="fas fa-search text-gray-400"></i>
                <input
                    class="ml-2 w-44 placeholder-gray-400"
                    placeholder="Search"
                />
            </div>
            <div class="grow max-w-72 p-2 mx-2 border-2 border-gray-100 rounded-xl">
                <app-select
                    [items]="icons"
                    [multiple]="true"
                    [icons]="true"
                    [placeholder]="'Select icon'"
                >
                </app-select>
            </div>
            <button 
                type="button" 
                class="h-fit mx-2 p-2 text-white text-base bg-primary rounded-xl hover:bg-primary-dark duration-300"
                title="Sort by deadline"
            >
                <i class="fa-regular fa-calendar-days"></i>
                Deadline
                <i class="fa-solid fa-arrow-up"></i>
            </button>
            <button 
                type="button"
                class="h-fit mx-2 p-2 text-white text-base bg-primary rounded-xl hover:bg-primary-dark duration-300"
                title="Sort by starred"
            >
                <i class="fa-solid fa-star"></i>
                Starred
                <i class="fa-solid fa-arrow-up"></i>
            </button>
        </div>
        <div class="flex flex-col gap-4 overflow-auto">
            @for(task of tasks; track $index) {
                <app-task-row
                    [task]="task"
                    [completeTaskCallback]="completeTaskCallback"
                ></app-task-row>
            }
        </div>
        <a 
            routerLink="/new_task"
            class="ml-auto mt-auto mb-2 mr-2"
        >
            <app-icon
                [iconName]="'plus'"
                [iconSize]="'large'"
                [titleString]="'Create new task'"
            ></app-icon>
        </a>  
    </div>
</div>