<div class="flex flex-row gap-2 h-fit w-fit">
    <div class="h-fit p-2 border-2 border-gray-100 rounded-xl">
        <input
            id="day_input"
            placeholder="Day"
            class="w-12 placeholder-gray-400"
        />
    </div>
    <app-select
        [items]="monthItems"
        [bindLabel]="'label'"
        [bindValue]="'value'"
        [multiple]="false"
        [searchable]="false"
        [clearable]="true"
        class="w-44 p-2 border-2 border-gray-100 rounded-xl"
        placeholder="Month"
        id="month_input"
    ></app-select>
    <div class="h-fit p-2 border-2 border-gray-100 rounded-xl">
        <input
            placeholder="Year"
            id="year_input"
            class="w-16 placeholder-gray-400"
        />
    </div>
</div>