<div class="flex flex-row gap-2 h-fit w-fit">
    <div class="h-fit p-2 border-2 border-gray-100 rounded-xl">
        <input
            id="day_input"
            placeholder="Day"
            class="w-8 placeholder-gray-400"
            [(ngModel)]="day"
            (ngModelChange)="inputChange()"
        />
    </div>
    <ng-select
        [items]="monthItems"
        [bindLabel]="'label'"
        [bindValue]="'value'"
        [multiple]="false"
        [searchable]="false"
        [clearable]="true"
        [(ngModel)]="month"
        (ngModelChange)="inputChange()"
        class="w-32 p-2 border-2 border-gray-100 rounded-xl"
        placeholder="Month"
        id="month_input"
    >
    </ng-select>
    <div class="h-fit p-2 border-2 border-gray-100 rounded-xl">
        <input
            placeholder="Year"
            id="year_input"
            class="w-12 placeholder-gray-400"
            [(ngModel)]="year"
            (ngModelChange)="inputChange()"
        />
    </div>
    <div class="flex flex-row ml-6 h-fit w-fit self-center">
        <div class="h-fit p-2 border-2 border-gray-100 rounded-xl">
            <input
                id="day_input"
                placeholder="0h"
                class="w-6 placeholder-gray-400 m-auto"
                [(ngModel)]="hours"
                (ngModelChange)="inputChange()"
            />
        </div>
        <div class="text-base self-center mx-1">:</div>
        <div class="h-fit p-2 border-2 border-gray-100 rounded-xl">
            <input
                id="day_input"
                placeholder="0m"
                class="w-6 placeholder-gray-400 m-auto"
                [(ngModel)]="minutes"
                (ngModelChange)="inputChange()"
            />
        </div>
    </div>
</div>